<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--<script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>-->
    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/angular-resource/angular-resource.js"></script>
    <script src="~/node_modules/angular-route/angular-route.js"></script>
    <script src="~/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/node_modules/angular-filter/dist/angular-filter.js"></script>
    <script src="~/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

    <base href="/" />
    <script type="text/javascript" src="~/app/app.module.js"></script>
    <script type="text/javascript" src="~/app/app.router.js"></script>
    
    <!--services-->
    
    <script src="~/app/services/client-service.js"></script>
    <script src="~/app/services/copy-service.js"></script>
    <script src="~/app/services/fee-service.js"></script>
    <script src="~/app/services/game-service.js"></script>
    <script src="~/app/services/genre-service.js"></script>
    <script src="~/app/services/publisher-service.js"></script>
    <script src="~/app/services/rental-service.js"></script>
    <script src="~/app/services/rating-service.js"></script>

    <!--controllers-->

    <script src="~/app/controller/client-controller.js"></script>
    <script src="~/app/controller/copy-controller.js"></script>
    <script src="~/app/controller/fee-controller.js"></script>
    <script src="~/app/controller/game-controller.js"></script>
    <script src="~/app/controller/genre-controller.js"></script>
    <script src="~/app/controller/home-controller.js"></script>
    <script src="~/app/controller/publisher-controller.js"></script>
    <script src="~/app/controller/rental-controller.js"></script>


</head>
<body ng-app="myApp" ng-controller="homeController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Game Rentals", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="clients">Clients</a></li>
                    <li><a ui-sref="games">Games</a></li>
                    <li><a ui-sref="copies">Copies</a></li>
                    <li><a ui-sref="rentals">Rentals</a></li>
                    <li><a ui-sref="fees">Fees</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
